@media only screen and (min-width: 992px) {
  .meal-img-div {
    height: 400px;
  }

  .meal-img {
    height: 400px;
    width: 400px;
  }

  .reservation-form,
  .reservation-info,
  .info {
    font-size: larger;
  }
}
